*.m~
tags
.DS_Store
output/**/*.txt
output/similarities/*.txt
output/similarities/*.dat
**/*.mat
flow/data/**/*.*
data/ldof/chair/*.*
compute_trajectory_similarities/lib/
compute_trajectory_similarities/src/
.idea
testcase/*.png
output/**/*.*
data/**/*.*
segmentantation/**/*.ppm
tracking/*.flo
segmentantation/**/*.zip
flow/srsf/Images/**
*.zip
testcase/data/
flow_var/
normalize_sensor_data/
xml_to_flo/input
xml_to_flo/output
tracking/fast_bfilt/*
tags.*
*.class
kernighan_lin/temp_debug.m
trajectory_extractor/out
core/out/
