*.m~
tags
.DS_Store
Data/**/
Source/output/**/*.txt
Source/output/similarities/*.txt
Source/output/similarities/*.dat
**/*.mat
Source/flow/data/**/*.*
Source/compute_trajectory_similarities/lib/
Source/compute_trajectory_similarities/src/
.idea
Source/testcase/*.png
Source/output/**/*.*
Source/tracking/*.flo
Source/flow/srsf/Images/**
*.zip
Source/testcase/data/
Source/flow_var/
normalize_sensor_data/
Source/xml_to_flo/input
Source/xml_to_flo/output
Source/tracking/fast_bfilt/*
tags.*
*.class
Source/segmentation/kernighan_lin/temp_debug.m
Source/trajectory_extractor/out
Source/core/out/
Source/compute_flows/data/
Source/compute_flows/srsf/output/
Source/compute_flows/srsf/Images/
Source/compute_flows/srsf/libRGBD.a
Source/compute_flows/xml_to_flo/input/
Source/compute_flows/xml_to_flo/output/
Source/compute_flows/xml_to_flo/**/*.xml
Source/evaluation/*.png
Document/Results/segmentations/**/*.jpg
